API_PORT=3001
DATABASE_URL=
ADMIN_PASSWORD=change_me_admin_password
MOCK_PAYMENT_SECRET=mock_secret_dev
NODE_ENV=development

ANTOM_CLIENT_ID=
ANTOM_MERCHANT_ID=
ANTOM_PRIVATE_KEY=
ANTOM_PUBLIC_KEY=
ANTOM_WEBHOOK_SECRET=
